<h3>{{title}}</h3>

<canvas id="lineChart" ></canvas>
<canvas id="barChart" ></canvas>
<canvas id="pieChart" ></canvas>
    
    <div class="ops">
        <mat-label>Opciones</mat-label>
        <br>
        <mat-form-field>
        <mat-select  [(ngModel)]="country">
            <mat-option *ngFor="let option of options" [value]="option">
            {{option.Country}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    </div>

    <div class="ops" *ngIf="country">Pais seleccionado: {{country.Country}}
    <button mat-button (click)="PaisObtenido()">OBTENER DATOS</button>
    </div>
    <br><br><br>
    <p>Nota: una vez seleccionado el valor, se tienen todos los campos para llenar los datos de las tablas</p>
<router-outlet></router-outlet>